<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Learn to code for the web:</h3>
                <h1>CTYI Web Development</h1>
                <h5>See some examples below or click on one of the links above to get started.</h5>
                <!-- <h5>More Lorem Ipsum added here too.</h5> -->				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/CTYIlogo.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->